@font-face {
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway';
    
}

header, section {
    margin: auto;
    padding: 0 0px 0px 0px;
}

ul {
    list-style: none;
    padding-left:initial
}

    /*header*/
    header nav a img {
        width: 150px;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 23px 30px;
    border: transparent solid;
    text-decoration: none;
}

    li:hover {
        border-top: #0065FC solid;
    }

header nav ul li:last-child:hover {
    border-top: black solid;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: #0065FC;
    }

header nav ul li:last-child a {
    color: #0065FC;
    font-weight: bold;
}

#a_signup:hover {
    color: black;
}

/*filtres*/
#filtres {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

    #filtres > p {
        font-weight: bold;
        margin-right: 15px;
    }

.filtre:hover button, .filtre:hover {
    background-color: #DEEBFF;
}

.filtre {
    margin: 0 15px;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    background-color: white;
}

.filtre_button {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-right:15px
}

#searchbar {
    margin: 15px 0 20px 0;
    display: flex;
}

input[type=text] {
    display: block;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: none;
    margin-right: -4px;
    padding-left: 8px;
}

    input[type=text]:focus {
        outline: none;
    }

button:focus {
    outline: none;
}

.search_button {
    display: block;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
}

#info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fa-info {
    margin: 10px;
    color: #0065FC;
}

.fa-map-marker-alt {
    display: block;
    background-color: #F2F2F2;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-right: -2px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    height: 40px;
    width: 40px;
    color: #0065FC;
    background-color: #DEEBFF;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: -2px;
}

.fa-star {
    color: #0065FC;
}

    .icon-d {
        color: #F2F2F2;
    }

/*Hebergement (section gauche)*/
#global1 {
    display: flex;
}


#container {
    width: 700px;
    background-color: #F2F2F2;
    margin: 15px 10px 15px 0;
    border-radius: 10px;
    padding-bottom: 25px;
}

h3 {
    margin: 15px 0 0 25px;
}

#showmore {
    margin: 0 0 25px 25px;
    font-weight: bold;
    font-size: 0.9em;
}

#heberge {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.heberge2 {
    background-color: white;
    border: 20px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 0 4px grey;
}

    .heberge2 figure {
        display: block;
        margin: auto
        
    }

    .heberge2 img {
        display: block;
        border-radius: 10px 10px 0 0;
        height: 90px;
        width: 100%;
        object-fit: cover;
    }

figcaption, .prix, .star {
    font-size: 0.8em;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:auto
}

figcaption {
    font-weight: bold;
    margin-left:10px;
    margin-top:5px
}



/*populaire (aside droite)*/

aside {
    width: 300px;
    background-color: #F2F2F2;
    margin: 15px 0 15px 30px;
    border-radius: 10px;
}

#populaire1 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.populaire {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px grey;
    width: 260px;
}

.pop {
    display: flex;
    margin: 3px 3px 0px 3px

}

.logo {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
    margin-left: 42px;
}

.fas fa-chart-line {
    display: flex;
    justify-content:left
}

    .populaire img {
        border-radius: 10px 0 0 10px;
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

.txt {
    margin-top: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

    .txt .star {
        justify-content: flex-end;
        margin-left: 0px;
    }

    .txt p:first-child {
        font-weight: bold;
        font-size: 0.8em;
        margin-top: 0px;
    }

    .txt p:nth-child(2) {
        font-size: 0.8em;
        margin-top:0px;
    }


/* activités (section bas) */

#activities {
    display: flex;
    padding: 20px 0px 0px 0px;
    
}


    .activities1 a {
        order:1;
        flex-direction:row

    }

    .activities2 a {
        order:2;
        flex-direction:column
    }


    .activities3 a {
        order:3;
        flex-direction:row

    }

    .activities4 a {
       order:4;
       flex-direction:column
    }

   

    .activities a {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 4px grey;
        width: 260px;
    }

        .activities1 img, .activities3 img {
            display: block;
            border-radius: 10px 10px 0 0;
            min-height: 27em;
            width: 260px;
            object-fit: cover;
        }

        .activities1 figure, .activities3 figure {
            display: block;
            margin:0px 0px 0px 0px
        }

        .activities1 figcaption, .activities3 figcaption {
            margin-top:15px;
            margin-left:10px
        }

        .activities2 img {
            display: block;
            border-radius: 10px 10px 0 0;
            height: 240px;
            width: 260px;
            object-fit:cover
        }

        .activities2 figure {
            display: block;
            margin:auto
        }

        .activities2 figcaption{
            margin-top:15px;
            margin-left:10px
        }

        .activities4 img {
            display: block;
            border-radius: 10px 10px 0 0;
            height: 120px;
            width : 260px;
            object-fit: cover;
        }


        .activities4 figure {
            display: block;
            margin:auto
        }

        .activities4 figcaption {
            margin-top:15px;
            margin-left:10px
        }

        .activities a p {
            margin: 5%;
            font-weight: bold;
            font-size: 0.8em;
        }

/*menu (footer)*/

footer {
    background-color: #F2F2F2;
    margin-top: 36px;
}

#global3 {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    padding: 15px;
}

.menu {
    font-weight: bold;
    margin-bottom: 5px;
}

#global3 div ul li {
    text-decoration: none;
    border: none;
    padding: 5px 0 0 0;
}
