@font-face {
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway';
    max-width: 1920px;
    margin: auto;
}

#nav2 {
    padding-left:3em;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

#imglogo {
    margin-top: 3em;
    height: 3.5em;
}

nav {
    margin-right: 3em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 35em;
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
}


.liennav:nth-child(1) {
    border-top: solid 3px #0065FC;
    color: #0065FC;
    font-family: 'Raleway';
}

.liennav {
    width: 33%;
    text-align: center;
    padding-top: 3em;
}

.liennav:hover {
    color: black;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.459);
}


.body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.9em;
}

#Filtres1 p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.38em;
    margin-top:0.5em;
}

/*bar de recherche*/

#search {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}


.icone-search {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    margin-left: 0.1rem;
}

.input-search {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.25rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

    .input-search placeholder {
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        color: #00000069;
    }

.button-search {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.25rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.button-search:hover {
    text-shadow: white 0px 0px 6px;
}

/*bar de recherche*/
/*filtres*/

.Filtres {
    margin-top:2em;
}

h4 {
    display: inline-flex;
    max-width: 100%;
    padding-top: 25px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.btn-filtre {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
}

    .btn-filtre:hover {
        background-color: #f3f8ff;
        transform: scale(1.015);
    }

.icn-filtre {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065fc;
}

.btn-filtre p {
    margin: 10px 1rem;
}

.info {
    display: flex;
    margin-top: 4em;
}

.icn-info {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065fc;
}

.info p {
    margin: auto 0;
}

.fa-star {
    color: #0065FC;
}

/*Hebergement (section gauche)*/
.hebergement {
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 60%;
    height:45em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

#popu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 3em;
    padding-right: 3em;
}

.hebergement h2 {
    margin-top: 2em;
    margin-left: 1.5em;
}

.hebergeim1 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/cannebiere.jpg);
    background-size: cover;
    background-position: center;
}

.hebergeim2 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/hotel_port.jpg);
    background-size: cover;
    background-position: center;
}

.hebergeim3 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/mouettes.jpg);
    background-size: cover;
    background-position: center;
}

.hebergeim4 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/mer.jpg);
    background-size: cover;
    background-position: center;
}

.hebergeim5 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/panier.jpg);
    background-size: cover;
    background-position: center;
}

.hebergeim6 {
    width: 95%;
    height: 56%;
    margin: 0.3em;
    margin-top: 8px;
    border-radius: 1.5em 1.5em 0 0;
    background-image: url(Images/amina.jpg);
    background-size: cover;
    background-position: center;
}

    .box-heberge {
    height: 80%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heberge {
    border-radius: 2em;
    width: 30.5%;
    height: 15em;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.heberge:hover {
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}

.box-heberge h3 {
    margin: 0 0 0 13px;
}

.box-heberge p {
    margin: 7px 0 0 13px;
    font-size: 0.9em;
}

.star1 {
    margin: 6px 0 0 13px;
    color: #F2F2F2;
    color: #0065FC;
}

.greystar {
    color: #F2F2F2;
}


a {
    text-decoration: none;
    color: black;
}

/*voir plus */

.voir-plus {
    margin-left:1.5em;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}



/*populaire (aside droite)*/

.populaires {
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 32%;
    height: 45em;
    margin-right: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0 15px 0px;
}


.box-populaire {
    height:38em;
    display: flex;
    flex-direction: column;
}

.popimg1 {
    width: 33%;
    height: 92%;
    margin: 6.45px;
    margin-left: 8px;
    margin-right: 0;
    border-radius: 1.8em 0 0 1.8em;
    background-image: url(Images/soleil_matin.jpg);
    background-size: cover;
    background-position: center;
}

.popimg2 {
    width: 34%;
    height: 92%;
    margin: 6.45px;
    margin-left: 8px;
    margin-right: 0;
    border-radius: 1.8em 0 0 1.8em;
    background-image: url(Images/coeur_eau.jpg);
    background-size: cover;
    background-position: center;
}

.popimg3 {
    width: 33%;
    height: 92%;
    margin: 6.45px;
    margin-left: 8px;
    margin-right: 0;
    border-radius: 1.8em 0 0 1.8em;
    background-image: url(Images/bleu_blanc.jpg);
    background-size: cover;
    background-position: center;
}

.pop {
    display: flex;
    border-radius: 2em;
    width: 85%;
    height: 28%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    margin: auto;
}

.pop:hover {
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}

.textpop1 {
    margin-left: 20px;
}

.textpop2 {
    margin-left: 20px;
}

.textpop1 h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.textpop2 h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.textpop1 p {
     margin-bottom: 3em;
}

.textpop2 p {
     margin-bottom: 2.7em;
}


/* activités (section bas) */

#activities {
    padding-left: 4em;
    padding-right: 4em;
}

#activities h2 {
    margin-top: 4em;
    font-family: 'Raleway-Bold';
    font-size: 1.5em;
}

#activities h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Raleway-Bold';
    font-size: 1.2em;
    margin-left: 25px;
}


#box-activities {
    height: 35em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.activities1 {
    width: 23%;
    border-radius: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.activities1:hover {
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}

.activitiesimg1 {
    background: url(Images/vieux_port.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    border-radius: 2em 2em 0 0;
}

.activitiesimg4 {
    background: url(Images/calanques.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    border-radius: 2em 2em 0 0;
}

.box-activities2 {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities2 {
    height: 55%;
    border-radius: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.activities2:hover {
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}

.activitiesimg2 {
    background: url(Images/fort.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85%;
    border-radius: 2em 2em 0 0;
}

.activitiesimg6 {
    background: url(Images/longchamp.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 82%;
    border-radius: 2em 2em 0 0;
}


.activities3 {
    height: 37%;
    border-radius: 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.activities3:hover {
    box-shadow: rgba(0, 0, 0, 0.829) 0px 0px 10px;
}

.activitiesimg3 {
    background: url(Images/frioul.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 72%;
    border-radius: 2em 2em 0 0;
}

.activitiesimg5 {
    background: url(Images/notre_dame.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 72%;
    border-radius: 2em 2em 0 0;
}
   

/*menu (footer)*/

footer {
    background-color: #F2F2F2;
    display: flex;
    height: 15em;
}

.foot {
    margin-left: 5.5em;
    margin-top: 1.5em;
    width: 23%;
}

.foot h3 {
    font-family: 'Raleway-Bold';
    font-size: 1.2em;
    margin-bottom: 30px;
}

.foot a {
    display:flex;
    padding-bottom: 0.9em;
    font-family: 'Raleway';
}

.foot a:hover {
    text-shadow: black 0px 0px 1px;
}