@font-face {
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway';
    width:100%;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    line-height: 70px;
    font-family: 'Raleway-extrabold ';
    font-weight: bold;
    float: left;
}

.header-logo {
    color: #0065fc;
    font-family: 'Raleway', sans-serif;
}

.header-menu {
    font-family: 'Raleway', sans-serif;
    float: right;
    color: #0065fc;
}

.nav {
    text-decoration: none;
    margin-right: 70px;
    color: #0065fc;
}

    .nav:hover {
        text-decoration: none;
        border-top: 2px solid #0065FC;
        padding-top: 28px;
    }

.info {
    display: flex;
    margin: auto;
}

.body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
}
/*bar de recherche*/

#search {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.icone-search {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    margin-left: 0.1rem;
}

.input-search {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.25rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

    .input-search placeholder {
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        color: #00000069;
    }

.button-search {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.25rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}
/*bar de recherche*/
/*filtres*/

.filtres,
h4 {
    display: inline-flex;
    max-width: 100%;
    padding-top: 25px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.btn-filtre {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
}

    .btn-filtre:hover {
        background-color: #f3f8ff;
        transform: scale(1.015);
    }

.icn-filtre {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065fc;
}

.btn-filtre p {
    margin: 0 1rem;
}

.icn-info {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065fc;
}

.info p {
    margin: auto 0;
}

/*Hebergement (section gauche)*/
.hebergement {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 65%;
    
}

#popu {
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: space-between;
    margin-top: 30px;
    margin-right:40px;
}

    .hebergement h2 {
        margin: 30px 0 0 30px;
    }

    .hebergement img {
        display:flex;
        width: 100%;
        height: 120px;
        border-radius: 16px;
        border: 5px solid white;
        border-bottom: 85px solid white;
        box-shadow: 5px 5px 19px #c4c0c0;
    }

.box-heberge {
    display: flex;
    flex-wrap: wrap;
}

.heberge {
    width: 245px;
    height: 130px;
    margin: 30px 15px 80px 30px;
}

.box-heberge h3 {
    margin: -80px 0 0 15px;
}

.box-heberge p {
    margin: 7px 0 0 15px;
    font-size: 0.9em;
}

.star1 {
    margin: 6px 0 0 13px;
    color: #F2F2F2;
    color: #0065FC;
}

#greystar {
    color: #F2F2F2;
    
}


a {
    text-decoration: none;
    color: black;
}

/*voir plus */

.voir-plus {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0 0 35px;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}



/*populaire (aside droite)*/

.populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: 5px;
    border-bottom: 2px;
    border-radius: 16px;
    max-width: 33%;
    height: 620px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0 15px 0px;
}


.box-populaire {
    display: flex;
    flex-wrap: wrap;
    margin-top:-37px;
}

    .box-populaire img {
        display:flex;
        width: 135px;
        height: 138px;
        border-radius: 16px;
        border: 5px solid white;
        border-right: 200px solid white;
        box-shadow: 5px 5px 19px #c4c0c0;
    }

.pop {
    width: 270px;
    height: 100px;
    margin: 38px 0 38px 30px;
    cursor: pointer;
}

.box-populaire h3 {
    margin: -130px -20px 0 150px;
    font-size: 1em;
}

.box-populaire p {
    margin: 6px -50px 0 150px;
    font-size: 0.9em;
}

.star {
    margin: 35px 0 0 160px;
    color: #0065FC;
}


/* activités (section bas) */

.activities {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px 0 0 0;
}

.box-activities {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.activities-1 img,
.activities-2 img,
.activities-3 img,
.activities-4 img,
.activities-5 img,
.activities-6 img {
    width: 302px;
    border-radius: 16px;
    border-bottom: 40px solid white;
    box-shadow: 2px 2px 19px #c4c0c0;
    cursor: pointer;
    transition: 1s ease;
    margin-top: 20px;
}

.activities-1 img,
.activities-4 img {
    height: 405px;
    
}

.activities-2 img {
    height: 190px;
}

.activities-3 img {
    height: 130px;
}

.activities-5 img {
    height: 160px;
    margin-left: -15px;
}

.activities-6 img {
    height: 160px;
}

.activities-1,
.activities-2,
.activities-4,
.activities-5 {
    margin: 10px 33px 0 0;
}

.activities-3,
.activities-6 {
    margin-right: 31px;
    margin-bottom: 0;
    margin-left: -335px;
}

.activities-3 {
    margin-top: 287px;
}

.activities-6 {
    margin-top: 253px;
}

.box-activities h3 {
    margin: -33px 0 5px 20px;
    margin-top: -40px;
}

/*menu (footer)*/

footer {
    background: #F2F2F2;
    margin-top: 55px;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
}

.foot-1,
.foot-2,
.foot-3 {
    margin: 25px 250px 10px 0px;
    list-style-type: none;
}

.footer li {
    margin-bottom: 8px;
}

.footer a {
    color: black;
    text-decoration: none;
}
